
/*nadpis H1*/
h1 {
    background-color: brown;
    padding: 20px 0px;
    margin-left: 600px;
    margin-right: 600px;
    outline: sandybrown solid 8px;
}

h2{
    text-align: center;
    font-size: 25px;
    padding: 20px 0px;
    background-color: rgb(172, 171, 171);
    margin-left: 600px;
    margin-right: 600px;
    outline: brown solid 4px;
}

p {
    text-align: center;
    
}

/*Umístění do header: nadpis, menu*/
.head{
    margin-top: -20px;
    padding: 10px 0px;  
    background-color: rgb(209, 209, 209);
    align-items: center;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
}

.foot{
    padding: 5px 0px;
    background-color: rgb(209, 209, 209) ;
    align-items: center;
    color: white;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;
}
