
/*ZÁKLADNÍ TEXT H1, p, ...*/
/*nadpis H1*/
h1 {
    background-color: #83c5be;
    padding: 20px 0px;
    margin-left: 600px;
    margin-right: 600px;
    outline: #006d77 solid 8px;
    font-style: italic;
}

h2{ 
    text-align: center;
    font-size: 20px;
    padding: 20px 0px;
    background-color: #83c5be;
    margin-left: 600px;
    margin-right: 600px;
    outline: #006d77 solid 4px;
}

h3{
  text-align: left;
  margin-left: 10px;
}

.textnastrance{
  
  padding: 20px 6px;
  text-align:center;
  float: center;
  
}





/*Umístění do header: nadpis, menu*/
.head{
    margin-top: -20px;
    padding: 10px 0px;  
    background-color: #d6ccc2;
    align-items: center;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    margin-left: -8px;
    z-index: 10000;     /*Aby přes header nic nechodilo*/
}

.foot{
    padding: 5px 0px;
    background-color: #d6ccc2 ;
    align-items: center;
    color: white;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;
}

/*Menu s odkazy vlevo stranky*/
.odkz{
        position: fixed;
        font-size: 30px;
        float: left;
        width: 15%;
        height: 1000px;
        /* only for demonstration, should be removed */
        background: #edede9;  
        padding: 25px ;
        margin-left: -7px
}

.reklama_umisteni {
  float: right;
  background-color: #edf6f9;
  padding: 30px;  
  height: 2500px;
  margin-top: 100px;
  margin-right: -20px;
}

.reklama2 {
  margin-top: 50px;
  position: relative;
  outline:#e29578 solid 8px ;
}



/*Textpvá pole*/

.text1{
  padding: 5px;
  margin: 15px;
  position: relative;
  left: 400px;
  width: 200px;
  border: 3px solid #83c5be;
  p{
    text-align: left;
    margin-left:20px;
  }
}





/* Jak vypadá link, odkaz na stránku: https://freefrontend.com/css-link-styles/*/
a {
    background-image: linear-gradient(
      to right,
      #83c5be,
      #83c5be 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: #83c5be;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }
